<html>
    <head></head>
    <body>
        <h1>Edit</h1>
        
        <% for(let i = 0; i < posts.length; i++) { %>
            <form action="editsave" method="POST">
                Title:<br>
                <textarea name="title"><%= posts[i].title %></textarea><br>
                Short Descritption:<br>
                <textarea name="shortbody"><%= posts[i].shortbody %></textarea><br>
                Main Body:<br>
                <textarea name="body"><%= posts[i].body %></textarea><br>
    			<button name="_id" type="submit" value="<%= posts[i]._id %>">Save</button>
    		</form>
        <% } %>        
    </body>
</html>