<html>
    <head></head>
    <body>
        <h1>Edit</h1>
            <form action="saveprofilechanges" method="POST">
                name:<br>
                <textarea name="name"><%= user.name %></textarea><br>
                email:<br>
                <textarea name="email"><%= user.email %></textarea><br>
    			<button name="_id" type="submit" value="<%= user._id %>">Save</button>
    		</form>   
    </body>
</html>