<html>
    <head></head>
    <body>
        <h1>Node Blog</h1>
        <a href="registration">CreateUser</a><br>
        <a href="login">LogIn</a><br>
        <a href="logout">Logout</a><br>
        <a href="editprofile">Edit Profile</a><br>
        <a href="myposts">MyPosts</a><br>
        <a href="userloggedin">LoggedUser</a><br>

        <% for(let i = 0; i < posts.length; i++) { %>
            <hr>  
            <article>
            	<h1><%= posts[i].title %></h1>
            	<p><%= posts[i].shortbody %></p>
                <p><%= posts[i].body %></p>
            </article>
			<form action="deletepost" method="post">
				<button name="_id" type="submit" value="<%= posts[i]._id %>">Remove</button>
			</form>
			<form action="editpost" method="post">
				<button name="_id" type="submit" value="<%= posts[i]._id %>">Edit</button>
			</form>
        <% } %> 
        <hr>  
        <form action="addpost" method="POST">
        	Title:<br>
            <textarea name="title"></textarea><br>
            Short Description:<br>
            <textarea name="shortbody"></textarea><br>
            Main Body:<br>
            <textarea name="body"></textarea><br>
            <input type="submit" value="Add Post" />
        </form>
    </body>
</html>